table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #000000;
  color: #656665;
  border: 10px solid #ECE9E0;
  border-radius: 20px;
  }

  td {
  padding: 10px;
  width: 45px;
  height: 45px;
  }

  td.black{
    background: black;
  }

  td.white {
    background: #F5D7BF;
  }