table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #000000;
  color: #000000;
  border: 10px solid #ECE9E0;
  border-radius: 20px;
  }

  td {
  padding: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  }

  td.black{
    background: rgb(216, 161, 42);
  }

  td.white {
    background: #F5D7BF;
  }